.app.dark {
  --bg-color: #091c00;
  --inverted-bg-color: #b1b9ad;
  --primary-color: #26c955;
  --secondary-color: #2d7029;
  --inverted-primary-color: #883b00;
  --inverted-secondary-color: #885d04;
}
